<html xmlns:th="www.thymeleaf.org">
<head th:insert="/layout/header :: header"></head>
<title>
    DETAILS
</title>
<body>
<h3>
    Product Details
</h3>
<h6>
    <a th:href="@{/product}">
        BACK TO LIST
    </a>
</h6>

<div id="detail">
    <div class="cusdetail">
        <label>Name:</label>
        <label th:text="${product.name}"></label>
    </div>

    <div class="cusdetail">
        <label>Price:</label>
        <label th:text="${product.price}"></label>
    </div>

    <div class="cusdetail">
        <label>Description:</label>
        <label th:text="${product.description}"></label>
    </div>

    <div class="cusdetail">
        <label>Provider:</label>
        <label th:text="${product.provider}"></label>
    </div>
</div>
<footer th:insert="/layout/footer :: footer"></footer>
</body>
</html>