<html xmlns:th="www.thymeleaf.org">
<head th:replace="/layout :: header"></head>
<body>
<h3> Songs Management </h3>
<h5>
  <a th:href="@{/song/create}">
    Add new Song
  </a>
</h5>
<div>
  <div th:if="${message} != null">
    <span th:text="${message}" style="color: red"></span>
  </div>
</div>

<table id="songs">
  <thead>
  <tr>
    <th>#</th>
    <th>Name Song</th>
    <th>Singer</th>
    <th>Category</th>
    <th>Sound</th>
  </tr>
  </thead>

  <tbody>
  <tr th:each="song, iterStart : ${songs}">
    <td th:text="${iterStart.count}"></td>
    <td th:text="${song.nameSong}"></td>
    <td th:text="${song.singer}"></td>
    <td th:text="${song.category}"></td>
    <td>
      <audio controls src="">
        <source th:src="@{'/audio/' + ${song.sound}}">
      </audio>
    </td>
  </tr>
  </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>
