<html xmlns:th="www.thymeleaf.org">
<head th:insert="/layout/header :: header">
    <title>ADD</title>
</head>
<body>
<h3>
    <a th:href="@{/product}">Back to list</a>
</h3>
<div id="form">
    <form th:action="@{/product/save}" method="post" th:object="${product}" novalidate="novalidate">
        <input type="hidden" th:field="*{id}">
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}">
        </div>

        <div>
            <label>Price</label>
            <input type="number" th:field="*{price}">
        </div>

        <div>
            <label>Description</label>
            <input type="text" th:field="*{description}">
        </div>

        <div>
            <label>Provider</label>
            <input type="text" th:field="*{provider}">
        </div>

        <input type="submit" value="Save">
    </form>
</div>
<footer th:insert="/layout/footer :: footer"></footer>
</body>
</html>