<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{customer.title}"></title>
</head>
<body>
<h1 th:text="#{customer.h1-create}"></h1>
<h3>
    Language: <a href="?lang=en">English</a> | <a href="?lang=vi">Việt Name</a>
</h3>
<p>
    <a href="/customers" th:text="#{customer.list}"></a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-customer}" th:object="${customer}" method="post">
    <table>
        <tr>
            <td th:text="#{firstname}"></td>
            <td><input type="text" th:field="*{firstName}"/></td>
        </tr>
        <tr>
            <td th:text="#{lastname}"></td>
            <td><input type="text" th:field="*{lastName}"/></td>
        </tr>
        <tr>
            <td th:text="#{province.title}"></td>
            <td>
                <select th:field="*{province}">
                    <option th:each="p : ${provinces}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create customer"></td>
        </tr>
    </table>
</form>
</body>
</html>
