@media (max-width: 425px) { .insurance-box input{ margin-bottom: 5px; }
}
@media (min-width: 769px) { .label-width.form-inline .form-control { max-width: 299px !important; width: 299px !important; }
}
@media(max-width: 768px){ .label-width.form-inline .form-control{ width: 100% !important; }
}
@media screen and (min-width: 1024px) { .artile-edit-layout .form-resign2 .label-width.form-inline .form-control.form-inline:not(.full-width) { max-width: 299px !important; width: 299px !important; }
}
@media screen and (min-width: 1024px) { .artile-edit-layout .form-resign2 .label-width.form-inline .form-control.form-inline:not(.full-width) { max-width: 299px !important; width: 299px !important; }
}
@media(max-width: 425px) { .info-namPas-box label { width: auto !important; white-space: nowrap; }
}
.form-resign2 span.text-required { color: red; font-style: italic; }
.insurance-box label{ display: inline-block; width: 240px !important; }
.label-width label { display: inline-block; width: 220px; }
.gender-box label{ width: 220px; display: inline-block; }
.form-resign2 .form-group.box-gaden>label{ display: unset; }
@media(min-width: 1024px) { .passenger-wrapper .box-edit-layout .form-group.box-gaden:not(.group-input-inline) .select2-container.select2-container--default{ width: auto !important; }
}
@media (min-width: 768px) { input.form-control.inline-block.form-inline { min-width: 250px; }
}
.box-edit-layout .insurance-box { margin-bottom: 15px; }
.box-edit-layout .insurance-box .form-group { margin-bottom: 0; }
.box-edit-layout .insurance-box-inside { margin-top: 15px; }
@media screen and (min-width: 1024px) { #module7 .artile-edit-layout .form-resign2 .select2-container.select2-container--default { width: auto !important; min-width: 240px; }
}
.mt-30{ margin-top: 30px; }
#module11 .sendType-option input{ display: none !important; }
#module11 .sendType-option label{ cursor: pointer; }
#module11 .sendType-option input + img{ padding: 2px; border: 1px solid #eaeaea; }
#module11 .sendType-option input:checked + img{ border-color:#0a6dd4; }
#module11 .list-select li{ margin-bottom: 15px; display: -webkit-flex; display: flex; display: flex; }
#module11 .list-select span{ width: calc(100% - 105px); display: inline-block; padding-right: 10px; margin-top: -5px; }
.formWrapper .btn-larger{ font-size: 21px; padding-left: 25px; padding-right: 25px; border-radius: 25px; }
@media(max-width: 425px) { .form-control.capcha-text{ min-width: 150px; }
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
input[type=number] { -moz-appearance: textfield; }
.row-eq-height { display: flex; flex-wrap: wrap; }

.passenger-wrapper .alert-box { color: red; font-size: 14px; padding: 20px; }
 .hotline-footer9 a{ color: white; display: inline-block; background: #F2651C; border-radius: 30px; padding-right: 10px; font-weight: bold; }
 .hotline-footer9{ position: fixed; bottom:5px; left: 5px; z-index: 999; }
 .hotline-footer9 .totalNewNotification{ position: relative; display: inline-block; }
 .hotline-footer9 .totalNewNotification span{ position: absolute; top: 0; background: red; color: #fff; right: -5px; padding: 1px 5px; font-weight: bold; display: inline-block; border-radius: 999px; }
 .hotline-box p { margin: 0; }
 .hotline-box a { color: #015ab4; }
 .download-app9{ position: fixed; bottom: 125px; right: 10px; background-color: #fff; border-radius: 999px; border: 1px solid #ccc; box-shadow: 0 0 5px rgba(0,0,0,0.4); padding: 5px; z-index: 1000; }
 .download-app9 .btn-ch-play{ padding: 5px; }
 #module9 .nav-tabs { text-align: center; display: -webkit-flex; display: flex; background-color: #eaeaea; }
 #module9 .nav-tabs li{ float: none; display: inline-block; flex: 1; -webkit-flex: 1; }
 #module9 .nav-tabs li>a{ margin-right: 0 !important; }
 #module9{ padding-bottom: 100px; }
 .passenger-wrapper .tab-login-home > a{ height: 62px; line-height: 42px; }
 .passenger-wrapper .nav-tabs .tab-login-home a { background: #ff5f5f; color: #FFFFFF; border-color: #ff5f5f; }
 .passenger-wrapper .nav-tabs .tab-login-home a:hover { background: #ff3e3e; color: #FFFFFF; border-color: #ff3e3e; }
 @media (max-width: 768px) { .download-app9 { /*bottom: 5px;
 left: auto; right: 5px;*/
 }
 }
 @media (max-width: 480px) { .hotline-footer9 a{ padding-right: 0; }
 .hotline-footer9 a span{ display: none; }
 .passenger-wrapper h1.text-center{ font-size: 28px; }
 }
 @media screen and (max-width: 992px) { .passenger-wrapper .tab-login-home{ display: none!important; }
 }
 .passenger-wrapper .box-edit-layout .form-group:not(.group-input-inline) .select2-container.select2-container--default{ /*width: auto !important;
 min-width: 240px;*/
 }
 @media(max-width: 768px){ .passenger-wrapper .box-edit-layout .form-group:not(.group-input-inline) .select2-container.select2-container--default{ min-width: 176px; }
 }
 @media (max-width: 768px) { .label-width.form-inline input.form-control { max-width: 100% !important; width: 100% !important; }
 }
 @media (max-width: 1024px) { .box-edit-layout{ overflow: hidden; }
 }

     
 @media(max-width: 544px){ .register-translation .regis-translation{ position: relative; top: unset; right: unset; margin-top: 10px; }
 .register-translation{ padding:10px; }
 .register-translation .title-translation{ font-size: 18px; }
 .register-translation .link-translation{ font-size: 15px; }
 }