<html>
<head xmlns:th="www.thymeleaf.org">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Information settings email</title>
</head>
<body>
<h2>Information settings email</h2>

<table>
  <tr>
    <td>Languages</td>
    <td><span th:text="${emailSettings.languages}"></span></td>
  </tr>

  <tr>
    <td>Page Size</td>
    <td><span th:text="${emailSettings.size}"></span></td>
  </tr>

  <tr>
    <td>Spams filter</td>
    <td>
      <span th:if = "${emailSettings.spams_filter}">Checked</span>
      <span th:if="${!emailSettings.spams_filter}">No Checked</span>
    </td>
  </tr>

  <tr>
    <td>Signature</td>
    <td><span th:text="${emailSettings.signuature}"></span></td>
  </tr>
</table>
</body>
</html>