<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete customer</title>
</head>
<body>
<h1>Delete customer</h1>
<h2>Are you sure?</h2>
<h5>
    <a th:href="@{/customer}">Customer list</a>
</h5>
<form th:action="@{/delete-customer}" th:object="${customer}" method="POST">
    <input type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>First Name</td>
            <td th:text="${customer.firstName}"></td>
        </tr>

        <tr>
            <td>Last Name</td>
            <td th:text="${customer.lastName}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete Value" ></td>
        </tr>
    </table>
</form>
</body>
</html>