<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit customer</title>
</head>
<body>
<h1>Edit Customer</h1>
<h5>
    <a th:href="@{/customer}">
        Customer List
    </a>
</h5>
<!--/*@thymesVar id="message" type="java"*/-->
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-customer}" th:object="${customer}" method="post">
    <input type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>FirstName</td>
            <td>LastName</td>
        </tr>
        <tr>
            <td>First Name</td>
            <td><input type="text" th:field="*{firstName}"></td>
        </tr>

        <tr>
            <td>Last Name</td>
            <td><input type="text" th:field="*{lastName}"></td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Update"></td>
        </tr>
    </table>
</form>
</body>
</html>